.navbar-container {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
.navbar-navbar-interactive {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.navbar-image {
  width: 200px;
  object-fit: cover;
}
.navbar-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.navbar-links {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: row;
  justify-content: flex-start;
}
.navbar-navlink {
  display: contents;
}
.navbar-heading {
  color: rgb(255, 255, 255);
  width: 119px;
  height: 44px;
  font-size: 40px;
  font-family: "Quantico";
  text-decoration: none;
}
.navbar-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.navbar-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.navbar-text {
  color: #ffffff;
  font-size: 32px;
  font-style: normal;
  text-align: center;
  font-family: "Quantico";
  font-weight: 500;
  margin-right: 4px;
  vertical-align: middle;
}
.navbar-dropdown-arrow {
  transition: 0.3s;
}
.navbar-icon {
  width: 32px;
  height: 32px;
  transition: 0.3s;
}
.navbar-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  flex-direction: column;
  list-style-type: none;
  list-style-position: inside;
}
.navbar-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
  background-color: darkgrey;
}
.navbar-dropdown-toggle01 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: ridge;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius2);
}
.navbar-dropdown-toggle01:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.navbar-navlink1 {
  color: #ffffff;
  width: 100%;
  height: 35px;
  display: flex;
  padding: 0px;
  position: relative;
  padding-top: 0px;
  border-width: 0px;
  border-radius: 0px;
  flex-direction: row;
  text-decoration: none;
  background-color: transparent;
}
.navbar-text01 {
  top: 7px;
  left: -10px;
  color: #ffffff;
  width: 100%;
  cursor: pointer;
  display: flex;
  position: absolute;
  font-size: 14px;
  font-style: normal;
  font-family: "Quantico";
  font-weight: 400;
  justify-content: center;
}
.navbar-image01 {
  top: 3px;
  right: 4px;
  width: 32px;
  position: absolute;
  object-fit: cover;
}
.navbar-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.navbar-dropdown-toggle02 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: ridge;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius2);
  background-color: darkgrey;
}
.navbar-dropdown-toggle02:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.navbar-navlink2 {
  width: 100%;
  height: 42px;
  display: flex;
  position: relative;
  padding-top: 0px;
  border-width: 0px;
  padding-left: 0px;
  border-radius: 0px;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: 0px;
  text-decoration: none;
  background-color: transparent;
}
.navbar-text02 {
  top: 11px;
  color: #f9f9f9;
  right: -5px;
  width: 161px;
  cursor: pointer;
  height: 16px;
  display: flex;
  position: absolute;
  font-size: 14px;
  font-style: normal;
  font-family: "Quantico";
  font-weight: 400;
  padding-bottom: 4px;
}
.navbar-image02 {
  top: 6px;
  right: 8px;
  width: 32px;
  position: absolute;
  object-fit: cover;
}
.navbar-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.navbar-dropdown-toggle03 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: ridge;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius2);
  background-color: darkgrey;
}
.navbar-dropdown-toggle03:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.navbar-navlink3 {
  color: #ffffff;
  width: 183px;
  height: 39px;
  display: flex;
  padding: 0px;
  position: relative;
  border-width: 0px;
  border-radius: 0px;
  flex-direction: row;
  text-decoration: none;
  background-color: transparent;
}
.navbar-text03 {
  top: 12px;
  color: #f1f1f1;
  right: -25px;
  width: 100%;
  cursor: pointer;
  display: flex;
  position: absolute;
  font-size: 14px;
  font-style: normal;
  font-family: "Quantico";
  font-weight: 400;
}
.navbar-image03 {
  right: 8px;
  width: 32px;
  bottom: 2px;
  height: 32px;
  position: absolute;
  object-fit: cover;
}
.navbar-dropdown3 {
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
  border-bottom-style: ridge;
}
.navbar-dropdown-toggle04 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: ridge;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius2);
  background-color: darkgrey;
}
.navbar-dropdown-toggle04:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.navbar-navlink4 {
  color: #ffffff;
  width: 183px;
  height: 39px;
  display: flex;
  position: relative;
  border-width: 0px;
  border-radius: 0px;
  flex-direction: row;
  text-decoration: none;
  background-color: transparent;
}
.navbar-text04 {
  top: 10px;
  color: #ffffff;
  right: -48px;
  width: 100%;
  cursor: pointer;
  display: flex;
  position: absolute;
  font-size: 14px;
  font-style: normal;
  font-family: "Quantico";
  font-weight: 400;
}
.navbar-image04 {
  top: 3px;
  right: 9px;
  width: 32px;
  height: 32px;
  position: absolute;
  object-fit: cover;
}
.navbar-burger-menu {
  display: none;
}
.navbar-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  background-color: var(--dl-color-theme-neutral-light);
}
.navbar-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navbar-image05 {
  width: 200px;
  object-fit: cover;
}
.navbar-text07 {
  color: rgb(255, 255, 255);
  width: 119px;
  height: 44px;
  font-size: 40px;
  font-family: "Quantico";
}
.navbar-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-icon4 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-links1 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: row;
  justify-content: flex-start;
}
.navbar-text08 {
  color: rgb(255, 255, 255);
  width: 119px;
  height: 44px;
  font-size: 40px;
  font-family: "Quantico";
}
.navbar-thq-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.navbar-dropdown-toggle05 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.navbar-text09 {
  color: #ffffff;
  font-size: 32px;
  font-style: normal;
  text-align: center;
  font-family: "Quantico";
  font-weight: 500;
  margin-right: 4px;
  vertical-align: middle;
}
.navbar-dropdown-arrow1 {
  transition: 0.3s;
}
.navbar-icon6 {
  width: 32px;
  height: 32px;
  transition: 0.3s;
}
.navbar-dropdown-list1 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  flex-direction: column;
  list-style-type: none;
  list-style-position: inside;
}
.navbar-dropdown4 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
  background-color: darkgrey;
}
.navbar-dropdown-toggle06 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: ridge;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius2);
}
.navbar-dropdown-toggle06:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.navbar-navlink5 {
  color: #ffffff;
  width: 100%;
  height: 35px;
  display: flex;
  padding: 0px;
  position: relative;
  padding-top: 0px;
  border-width: 0px;
  border-radius: 0px;
  flex-direction: row;
  text-decoration: none;
  background-color: transparent;
}
.navbar-text10 {
  top: 7px;
  left: -10px;
  color: #ffffff;
  width: 100%;
  cursor: pointer;
  display: flex;
  position: absolute;
  font-size: 14px;
  font-style: normal;
  font-family: "Quantico";
  font-weight: 400;
  justify-content: center;
}
.navbar-image06 {
  top: 3px;
  right: 4px;
  width: 32px;
  position: absolute;
  object-fit: cover;
}
.navbar-dropdown5 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.navbar-dropdown-toggle07 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: ridge;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius2);
  background-color: darkgrey;
}
.navbar-dropdown-toggle07:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.navbar-navlink6 {
  width: 100%;
  height: 42px;
  display: flex;
  position: relative;
  padding-top: 0px;
  border-width: 0px;
  padding-left: 0px;
  border-radius: 0px;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: 0px;
  text-decoration: none;
  background-color: transparent;
}
.navbar-text11 {
  top: 11px;
  color: #f9f9f9;
  right: -5px;
  width: 161px;
  cursor: pointer;
  height: 16px;
  display: flex;
  position: absolute;
  font-size: 14px;
  font-style: normal;
  font-family: "Quantico";
  font-weight: 400;
  padding-bottom: 4px;
}
.navbar-image07 {
  top: 6px;
  right: 8px;
  width: 32px;
  position: absolute;
  object-fit: cover;
}
.navbar-dropdown6 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.navbar-dropdown-toggle08 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: ridge;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius2);
  background-color: darkgrey;
}
.navbar-dropdown-toggle08:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.navbar-navlink7 {
  color: #ffffff;
  width: 183px;
  height: 39px;
  display: flex;
  padding: 0px;
  position: relative;
  border-width: 0px;
  border-radius: 0px;
  flex-direction: row;
  text-decoration: none;
  background-color: transparent;
}
.navbar-text12 {
  top: 12px;
  color: #f1f1f1;
  right: -25px;
  width: 100%;
  cursor: pointer;
  display: flex;
  position: absolute;
  font-size: 14px;
  font-style: normal;
  font-family: "Quantico";
  font-weight: 400;
}
.navbar-image08 {
  right: 8px;
  width: 32px;
  bottom: 2px;
  height: 32px;
  position: absolute;
  object-fit: cover;
}
.navbar-dropdown7 {
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
  border-bottom-style: ridge;
}
.navbar-dropdown-toggle09 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: ridge;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius2);
  background-color: darkgrey;
}
.navbar-dropdown-toggle09:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.navbar-navlink8 {
  color: #ffffff;
  width: 183px;
  height: 39px;
  display: flex;
  position: relative;
  border-width: 0px;
  border-radius: 0px;
  flex-direction: row;
  text-decoration: none;
  background-color: transparent;
}
.navbar-text13 {
  top: 10px;
  color: #ffffff;
  right: -48px;
  width: 100%;
  cursor: pointer;
  display: flex;
  position: absolute;
  font-size: 14px;
  font-style: normal;
  font-family: "Quantico";
  font-weight: 400;
}
.navbar-image09 {
  top: 3px;
  right: 9px;
  width: 32px;
  height: 32px;
  position: absolute;
  object-fit: cover;
}
@media(max-width: 1200px) {
  .navbar-navbar-interactive {
    background-color: #000000;
  }
  .navbar-image {
    width: 117px;
    height: 88px;
  }
  .navbar-text {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-style: normal;
    font-family: Quantico;
    font-weight: 400;
  }
  .navbar-icon {
    fill: #ffffff;
    width: 32px;
    height: 32px;
  }
  .navbar-dropdown-list {
    top: 45px;
    right: -3px;
    width: 187px;
    display: none;
    position: absolute;
    border-style: solid;
  }
  .navbar-dropdown {
    animation-name: none;
    animation-delay: 0s;
    animation-duration: 300ms;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-timing-function: ease;
  }
  .navbar-dropdown-toggle01 {
    color: #818181;
    border-color: var(--dl-color-theme-neutral-dark);
    border-width: 1px;
    border-radius: var(--dl-radius-radius-radius2);
  }
  .navbar-text01 {
    color: #ffffff;
    font-size: 14px;
  }
  .navbar-image01 {
    width: 32px;
  }
  .navbar-dropdown-toggle02 {
    color: #ffffff;
    border-color: var(--dl-color-theme-neutral-dark);
    border-style: ridge;
    border-width: 1px;
    border-radius: var(--dl-radius-radius-radius2);
  }
  .navbar-text02 {
    font-size: 14px;
    font-style: normal;
    font-family: Quantico;
    font-weight: 500;
  }
  .navbar-image02 {
    width: 32px;
  }
  .navbar-dropdown-toggle03 {
    color: #ffffff;
    border-color: var(--dl-color-theme-neutral-dark);
    border-width: 1px;
    border-radius: var(--dl-radius-radius-radius2);
  }
  .navbar-text03 {
    font-size: 14px;
    font-style: normal;
    font-family: Quantico;
    font-weight: 500;
  }
  .navbar-image03 {
    width: 32px;
  }
  .navbar-dropdown3 {
    border-color: var(--dl-color-theme-neutral-dark);
    border-style: ridge;
    border-width: 1px;
  }
  .navbar-dropdown-toggle04 {
    color: #ffffff;
    border-radius: var(--dl-radius-radius-radius2);
  }
  .navbar-text04 {
    font-size: 14px;
    text-align: center;
  }
  .navbar-image04 {
    width: 32px;
  }
  .navbar-nav {
    background-color: #000000;
  }
  .navbar-image05 {
    width: 117px;
    height: 88px;
  }
  .navbar-text09 {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-style: normal;
    font-family: Quantico;
    font-weight: 400;
  }
  .navbar-icon6 {
    fill: #ffffff;
    width: 32px;
    height: 32px;
  }
  .navbar-dropdown-list1 {
    top: 45px;
    right: -3px;
    width: 187px;
    display: none;
    position: absolute;
    border-style: solid;
  }
  .navbar-dropdown4 {
    animation-name: none;
    animation-delay: 0s;
    animation-duration: 300ms;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-timing-function: ease;
  }
  .navbar-dropdown-toggle06 {
    color: #818181;
    border-color: var(--dl-color-theme-neutral-dark);
    border-width: 1px;
    border-radius: var(--dl-radius-radius-radius2);
  }
  .navbar-text10 {
    color: #ffffff;
    font-size: 14px;
  }
  .navbar-image06 {
    width: 32px;
  }
  .navbar-dropdown-toggle07 {
    color: #ffffff;
    border-color: var(--dl-color-theme-neutral-dark);
    border-style: ridge;
    border-width: 1px;
    border-radius: var(--dl-radius-radius-radius2);
  }
  .navbar-text11 {
    font-size: 14px;
    font-style: normal;
    font-family: Quantico;
    font-weight: 500;
  }
  .navbar-image07 {
    width: 32px;
  }
  .navbar-dropdown-toggle08 {
    color: #ffffff;
    border-color: var(--dl-color-theme-neutral-dark);
    border-width: 1px;
    border-radius: var(--dl-radius-radius-radius2);
  }
  .navbar-text12 {
    font-size: 14px;
    font-style: normal;
    font-family: Quantico;
    font-weight: 500;
  }
  .navbar-image08 {
    width: 32px;
  }
  .navbar-dropdown7 {
    border-color: var(--dl-color-theme-neutral-dark);
    border-style: ridge;
    border-width: 1px;
  }
  .navbar-dropdown-toggle09 {
    color: #ffffff;
    border-radius: var(--dl-radius-radius-radius2);
  }
  .navbar-text13 {
    font-size: 14px;
    text-align: center;
  }
  .navbar-image09 {
    width: 32px;
  }
}
@media(max-width: 767px) {
  .navbar-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .navbar-desktop-menu {
    display: none;
  }
  .navbar-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar-icon2 {
    fill: #ffffff;
    width: var(--dl-size-size-large);
    height: var(--dl-size-size-large);
  }
}
@media(max-width: 479px) {
  .navbar-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .navbar-mobile-menu {
    right: -6px;
    bottom: var(--dl-space-space-unit);
    padding: var(--dl-space-space-unit);
  }
  .navbar-links1 {
    width: 458px;
    height: 154px;
    margin-left: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
}
